<!DOCTYPE html>
<html lang="en">

<head>

    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">

 
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="public/css/style.css">
    <title>MAIN</title>
</head>

<body>
    <div class="base-container" id="bimg" >
        <nav>
            <img src="/img/logo2.png" alt="LOGO ALT">
            <ul>
                <li>
                    <a href="#" class="button">Home</a>
                </li>
                <li>
                    <a href="#" class="button">Explore</a>
                </li>
                <li>
                    <a href="#" class="button">Bookmarks</a>
                </li>
                <li>
                    <a href="#" class="button">My Profile</a>
                </li>
            </ul>

        </nav>

        <main> 
           

            <header> 
            <div>
                <h1 class="welcome-text">What would you like to cook today?</h1>
            </div>
            
            <div class="background-border">
                <div class="search-bar button">
                    <form>
                        <input placeholder=" Search ">
                    </form>
                </div>
            </div>

            </header>

          

            <selection class="posts">
                <div> post 1</div>
                <div> post 2</div>
                <div> post 3</div>
                <div> post 4</div>

            </selection>
        </main  >
    </div>
    


</body>

</html>