

body {

    font-family: "Inter", sans-serif;
    background-color: #151E26;
    height: 100vh;
    width: 100vw;
    margin: 0;
}

#bimg   {
    background: url(/img/pizza.png) no-repeat 0 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: top center; 
    background-size: 100vw;
    /* background-position: top left; 
    background-size: 900vw; */

    left: 0;
    right: 0;

   }


.base-container{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;

}


.button {
    border: solid 2px #FB8A22;
    border-radius: 2em;
    text-align: center;
    color: black;
    background-color: #ffffff;
    letter-spacing: 0.7px;
    width: 90%;
    padding: 0.5em;

    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    
}


main{
    display: flex;
    flex-direction: column;   
    height: 100vh;
    width: 80vw;
    padding-left: 20vw;
}

.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em 2em;
}

.search-bar {   

    width: 100%;

}

.background-border {
    padding: 10px;
    background-color: #2A3C4C;
    width: 60%;
    border-radius: 2em;
    display: flex;
    align-items: center;
    
}

.search-bar>form>input {
    width: 100%;
    text-align: left;
    margin:  0;
    box-sizing: border-box;
    outline: none;
    border: none;
}

.welcome-text {
    margin: 1.2em;
    font-size: 4vw;
    color: #ffffff;
}


@media screen and (max-width: 1200px) {
    .background-border{
        width: 85%;
    }
}

@media screen and (max-width: 600px) {
    .background-border{
        width: 100%;
    }
}

